# Ignore node_modules trong cả frontend và backend
Frontend/node_modules/
Backend/node_modules/

# Ignore môi trường
Frontend/.env
Backend/.env

# Ignore build (nếu có)
Frontend/dist/
Frontend/build/
Backend/dist/

# VSCode
.vscode/
